@font-face {
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: SourceSansPro-Regular;
    src: url("../assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: SourceSansPro-Ligtht;
    src: url("../assets/fonts/SourceSansPro-Light.ttf") format("truetype");
}

body {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    padding: 0;
}
